*.ilk
*.pdb
*.idb
*.*log
*.log
*.obj
*.pch
*.exe
*.sdf
*.cache
*.opensdf
*.suo
*.dll
*.pyc
*.*~
*.*~
*.sqlite3
log.txt

source/Tankist/ipch
source/Tankist/x64
source/Tankist/Tankist/x64
source/Tankist/Terminal/x64

out/CoreData/Shaders/HLSL/Cache/

site/venv/
site/tankistwat/venv/

site/tankistwat/.idea/

site/tankistwat/forum/migrations/
site/tankistwat/newsletter/migrations/
site/tankistwat/books/migrations/
