*.ilk
*.pdb
*.idb
*.*log
*.log
*.obj
*.pch
*.exe
*.sdf
*.cache
*.opensdf
*.suo
*.dll
*.pyc
*.exp
*.*~
*.*~
*.sqlite3
log.txt
out/launcher/files.txt
files.txt
out/distr/run.exp

source/Tankist/ipch
source/Tankist/x64
source/Tankist/Tankist/x64
source/Tankist/Launcher/x64

out/CoreData/
out/Data/
out/CoreData/Shaders/HLSL/Cache/
out/distr/CoreData/Shaders/HLSL/Cache/
out/distr/files.txt
out/launcher/CoreData/Shaders/HLSL/Cache/

site/venv/
site/tankistwat/venv/

site/tankistwat/.idea/

site/tankistwat/forum/migrations/
site/tankistwat/newsletter/migrations/
site/tankistwat/books/migrations/

server/build/
